{% for item in items %}
    <div class="col-xl-{{ item.col ? item.col : 3 }} col-sm-12 col-lg-{{ item.col ? item.col : 3 * 2 }} col-12 grid-margin grid-margin-md-0 stretch-card">
        <div class="card border-0 bg-{{ item.color }} text-white">
            <div class="card-body pb-0">
                <div class="d-flex justify-content-between">
                    <div>

                        <p class="card-title text-white">{{ trans(item.name) }}</p>
                        <h1>{{ item.value }}</h1>
                    </div>
                    <div>
                        <i class="{{ item.icon }} fa-5x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
